body {
    font-family: sans-serif;
    line-height: 1.5;

}

.product {
    border: 5px solid #000;
}

.product-title {
    background-color: #f7f7f7;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.shipping {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
}

.more-info:link,
.more-info:visited {
    color: #000;
}

.more-info:hover,
.more-info:active {
    text-decoration: none;
}

.product-details {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.product-list {
    list-style: square;
}

.add-to-cart {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.add-to-cart:hover {
    background-color: #fff;
    color: #000;
}