* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;

}

.product {
    border: 4px solid #000;
    width: 825px;
    margin: 50px auto;
    position: relative;
}

.product-title {
    background-color: #f7f7f7;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

.shipping {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.sale {
    color: #fff;
    background-color: #f00;
    display: inline-block;
    padding: 7px 14px;
    letter-spacing: 2px;

    position: absolute;
    top: -15px;
    left: -25px;
}

.description {
    margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
    color: #000;
    display: inline-block;
    margin-bottom: 20px;
}

.more-info:hover,
.more-info:active {
    text-decoration: none;
}

.product-details {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-list {
    list-style: square;
    margin-left: 20px;
}

.product-list li {
    margin-bottom: 10px;
}

.add-to-cart {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-top: 4px solid #000;
                
}

.add-to-cart:hover {
    background-color: #fff;
    color: #000;
}

.color {
    width: 22px;
    height: 22px;
    background-color: black;
}

.blue-color {
    background-color: #0000ff;
}

.red-color {
    background-color: #f00;
}

.orange-color {
    background-color: #ffa500;
}

.green-color {
    background-color: #008000;
}

.brown-color {
    background-color: #a52a2a;
}

.product-sale {
    flex: 1;
    margin-top: 20px;
}

.product-prop {
    flex: 1;
    margin-top: 20px;
}
/* FLEXBOX */
.container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-colors {
    display: flex;
    gap: 10px;
}